.share {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e7eaf3;
    border-bottom: 1px solid #e7eaf3;
    padding: 5px 0px 5px 0px;
    .help-text {
        margin-right: .25rem;
    }
}
  .share ul {
    display: inline-flex;
    margin: 0;
  }
  .share ul li {
    display: inline-flex;
    margin: 0;
    margin-right: .25rem;
  }
  .share ul li a{
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.3);
  }
  .share ul li a:hover {
    border: 1px solid #0070e0;
    color: #0070e0;
  }
  .share ul li i.fa {
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }