.interview-page {
  &__user-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item-block {
    max-width: 840px;
    margin: 0 auto;
    .border-left-2 {
      border-left-color: #00abc0 !important;
    }
  }
  &__question {
    margin-bottom: 0.5rem !important;
  }
  &__action {
    text-align: right;
  }
  
}