.interview-page {
  .color-success {
    color: #00c9a7;
  }
  .color-primary {
    color: #377dff;
  }
  .color-danger {
    color: #de4437;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}
