.navbar {
  .container {
    margin: 0 auto;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
  }
  
  .navbar-item {
    padding: 20px 12px;
    img {
      height: 25px;
    }
    &:not(:last-child) {
      padding-right: 1.5rem;
    }
    .button {
      font-size: 14px;
      font-weight: 500;
      padding: 0 15px;
    }
    &.link-item a {
      color: rgba(0,0,0,.65);
    }
  }
  background: aliceblue;
}