$primary-color: rgb(230,110,171);
$secondary-color: #61dafb;
$third-color: #7b7b7c;
$light-color: white;
$dark-color: black;
$padding-space: 144px;
$star-color-light: rgba(230,110,171,0.9808298319327731);
$star-color-dark: rgba(198,98,226,1);