$padding-space: 144px;

footer {
  clear: both;
  font-size: 14px;
  position: relative;
  z-index: 100;
  width: 100%;
  .bottom-bar {
    border-top: 1px solid #e7eaf3 !important;
    text-align: center;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    .translate-button {
      text-align: left;
    }
    .heart {
      color: #f73f51;
      font-size: 22px;
    }
  }
}

@media (min-width: 768px) {
  footer {
    .bottom-bar {
      padding: 16px $padding-space;
      line-height: 32px;
    }
  }
}
