.btn-primary{
  border: none;
  border-radius: 1px;
  background-color: transparent;
  font-size: xx-large;
}
a{
  text-decoration: none;
  font-size: 20px;
  padding: 5px ;
}
a:hover {
text-decoration: none;
background:gold  !important;
opacity: .3;
border-radius: 30%;
}

.card-body {
  font-size: medium;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}